*{
    margin: 0px;
    padding: 0px;
    font-family: Hevetica, Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    background-color: #F8F3E9;
}
img {
    width: 100%;
}


/******************ERREUR*********/
.flash { padding: 20px;}


.flash.success {
    background-color: darkseagreen;
    color: white;
    width: 20%;
}

.flash.error {
    background-color: indianred;
    color: white;
    width: 20%;
}

/******************Fontawesome*********/
.fa-user-circle{
    font-size: 25px;
}
.fa, .fas{
    color: #e0ac1c;
    padding: 10px;
    font-size: 30px;
}
.fab{
    color: #e0ac1c;
    padding: 10px;
    font-size: 30px;
}
.fa-shopping-bag{
    color: black;
    padding: 0;
    font-size: 20px;
}
.fa-user-circle{
    color: black;
    padding: 0;
    font-size: 20px;
}
.fa-heart{
    color: #e0ac1c;
}
.fa-heart i:hover{
    color: red;
}

.list{
    display: inline;
    padding: 30px;
    font-size: 20px;
}

/*************************************************PAGE D'ACCUEIL*******************/
.grid-cell {
    /* Sets column count */
    width: calc(100% / 3); /* calc() method */
    width: 33.33%; /* percentage method */
    padding: 15px;

}
.grid {
    /* Forces equal cell heights */
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 20px;

}
.grid-wrapper{
    width: 60%;
    height: 50%;
    margin : auto;
}
.title{
    padding-top: 50px;
    text-align: center;
}

button.shop{
    height: 100px;
    background-color: white ;
    border: none;
}
.bandeau{
    position: relative;
}
.shop a{
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px;
}
h1{
    text-align: center;
    letter-spacing: 5px;
    height: 80px;
    padding-top: 22px;
}
h1 a{
    color: white;
}
.grid-cellule {
    /* Sets column count */
    width: calc(100% / 3); /* calc() method */
    width: 50%; /* percentage method */
    padding: 10px;

}

/*************************************************HEADER MENU ******************************/
header:after{
    content: '';
    clear: both;
    display: table;
}
.header {
    background-color: #F8F3E9;
    padding: 20px 10px;
    width: 100%;
    margin-bottom: 30px;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

/* Style the logo link  */
.header > a.logo {
    font-size: 25px;
    font-weight: bold;
    color: black;


}
.header a:hover {
    border-bottom: 2px solid black;
}

.header-right {
    float: right;
}
.header-right:after{
    content:'';
    clear: both;
    display: table;
}

img{
    width: 100%;
}
header nav ul > li{
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    line-height: 60px;
    text-align: center;
}
header nav ul{
    list-style: none;
}
header nav ul > li > ul {
    display: none;

}
header nav ul > li ul{
    position: absolute;
    right: 0;
    background: #fff;
}

header nav ul > li ul  > li {
    display: block;
    float:none !important;
    line-height: 18px;
    font-size: 16px;
    padding:0;
    text-align: center;
}

header nav ul > li ul > li a {
    display: block !important;
    float:none !important;
    padding: 10px !important;
    text-align: center !important;
}
header nav ul > li:hover ul{
    display: block;
}
/***********************************************CONTAINER DES PPRODUITS*******************************************************/
.container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    background-color: #F8F3E9;
}
.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    justify-content: center;
    color: midnightblue;

}


/* Float four columns side by side */
.column {
    float: left;
    width: 100%;
    padding: 10px 10px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    padding: 16px;
    text-align: center;
    background-color: #eadac6;
    height: 100%;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #0A0A48;
    transition: 0.3s;
    font-size: 19px;
}

.product{
    font-size: 19px;
    text-decoration: none;
}
.product a:hover {
    color: #fbb72c;
}
.product a{
    color: #0A0A48;
}

/************************************************POUR LES FORMULAIRES INSCRIPTION ET CONNEXTION*********************************************************************************/
form{
    padding: 10px;
}
.form{
    margin:auto;
    margin-top:40px;
    width: 50%;
    background-color: #2cb8b647;
}
.col-25 {
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

li{
    list-style: none;
}
a, a:hover, a:visited, a:active
{
    text-decoration:none;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}


.log{
    border-radius: 3px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    font-size: 15px;
    background-color: black;

}
.login{
    color: white;
}
.connexion{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
/*Responsive container*/
@media (min-width: 500px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 360px) {
    .grid-container { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 900px) {
    .grid-container { grid-template-columns: repeat(4, 1fr); }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/*********************************************************************FOOTER*******************************************************/
.footer{
    margin-top: 100px;
    background-color: #2cb8b647;
    border-top: 1px solid black;
}
footer{
    bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
}


.footer-distributed{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 20px sans-serif;
    padding: 50px 50px 60px 50px;
}
/* The company logo */

.footer-distributed h3 span{
    color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  black;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

span{
    color: #e0ac1c;
}
/* Footer Right */

.footer-distributed .footer-right{
    width: 30%;
}

.btn {
    margin: 15px 15px 15px 15px;
    border: none;
    padding: 12px;
    background-color: black;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}
.btn a{
    color: white;
}
.payement{
    float: right;
}


.product-image{
    margin: 15px 15px 15px 15px;
}

.content-card {
    background-size: cover;
    width: 700px;
    margin: auto;
    margin-top: 30px;
}

#container{
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    display: flex;

}
h3{
    margin: 15px;
}

.product-details{
    padding: 10px;
}
.mini-images{
    display: flex;
    width: 35%;
    margin: 10px auto;
}
.child-image{
    padding: 10px 10px 0 0px;
}
.fiche-produit{
}




.banniere{
    z-index:0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
}

.absolute{
    position: absolute;
    float: right;
}



h4{
    background-color: #2cb8b647;
    padding: 15px;
    text-align: center;

}


li{
    display: inline;
}

/************************************************SHOPPING CARD****************/
th{
    margin: 10px;
}

th, td {
    border-bottom: 1px solid black;
    width: 100px;
    margin: 0px 20px 0px 20px;
    text-align: center;
}
table{
    border-spacing: 0;
    width: 100%;
}
.shopping-card{
    width: 60%;
    margin: auto;
}
h2{
    text-align: center;
    font-size: 30px;
}
.cart{
    margin: 20px 0px 40px ;
}

/* button */

.btnPrimary {
    display: inline-block;
    padding: 5px 20px;
    background: black;
    color: #fff;
    text-align: center;
    transition-duration: .3s;
    border: none;
}

.btnPrimary:hover{
    background: #e0ac1c;
    transition-duration: .3s;
}


/* cart table */
.cartTable {
    margin: 10px 0;
}

.center{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


